* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  /* Light theme */
  --light-theme-background: #fff;
  --light-theme-primary: #da4cd2;
  --light-theme-primary-light: #ff75f8;
  --light-theme-primary-dark: #ad42a8;
  --light-theme-secondary: #dd7cd8;
  --light-theme-secondary-light: #ffa4fa;
  --light-theme-accent: #ff00f2;
  --light-theme-accent-dark: #83167d;
  --light-theme-text: #ffffff;

  /* Dark theme */
  --dark-theme-background: #2d012d;
  --dark-theme-primary: #da7007;
  --dark-theme-primary-light: #f59c44;
  --dark-theme-primary-dark: #b15800;
  --dark-theme-secondary: #341414;
  --dark-theme-secondary-light: #682727;
  --dark-theme-accent: #cb2020;
  --dark-theme-accent-dark: #801818;
  --dark-theme-text: #fed7fe;

  --green: #15ff00;
  --red: #96008e;
}

html {
  scroll-behavior: smooth !important;
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: all 0.4s ease;
}

.add-list {
  position: absolute;
  display: none;
  transition: all 0.6s ease;
}

.add-list.active {
  width: 90px;
  height: 90px;
  position: absolute;
  display: block;
  transition: all 0.6s ease;
}

.adding {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--light-theme-secondary-light);
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  transform: scale(0);
  transition: transform 1s ease;
}

.adding.active {
  transform: scale(1);
  transition: transform 1s ease;
}

.typing {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320%;
  height: 50%;
  border-radius: 1rem;
  top: 25%;
  left: -100%;
  background-color: var(--light-theme-secondary-light);
  transform: scaleY(0);
  transition: transform 0.6s ease;
}

.typing.active {
  transform: scaleY(1);
  transition: transform 0.6s ease;
}

.typing .add-list-input {
  padding: 10px 0;
  outline: 0;
  border: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 2rem;
  background-color: transparent;
  margin-left: 12px;
}

.typing .add-list-input::placeholder {
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 2px;
  opacity: 0.6;
}

.typing i {
  color: #fff;
  font-size: 2rem;
  margin-right: 12px;
  cursor: pointer;
}

.list {
  width: 350px;
  height: 600px;
  transform: scaleY(0);
  transition: transform 0.4s ease;
}

.list.active {
  transform: scaleY(1);
  transition: transform 0.4s ease;
}

.list-container {
  width: 100%;
  height: 100%;
  background-color: var(--light-theme-secondary-light);
  box-shadow: 5px 5px 5px 2px var(--light-theme-secondary);
  border-radius: 0.8rem;

  display: grid;
  grid-template-rows: 60px 1fr 80px;
  /* transition: all 0.5 ease 3s; */
}

.list-name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--light-theme-text);
  font-size: 3.5rem;
  border-bottom: 1px solid var(--light-theme-secondary);
  letter-spacing: 3px;
}

.list-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--light-theme-secondary);
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-theme-primary-light);

  width: 92%;
  height: 56px;
  margin: 10px 0;

  border-radius: 1rem;
}

.item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -2%;
  background-color: var(--light-theme-primary-dark);
  width: 105%;
  height: 5px;
  border-radius: 1rem;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease;

}

.item.checked::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .5s ease;
}

.item p {
  padding: 4%;
  color: var(--light-theme-text);
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
}

.item .btns {
  position: absolute;
  right: 0;
  height: 70%;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.4s ease;
  z-index: 2;
  /* background-color: var(--light-theme-primary-light); */
}

.item:hover .btns {
  width: 70px;
  transition: all 0.4s ease;
}

.item .btns > i {
  font-size: 1.6rem;
  transform: scaleX(0);
  cursor: pointer;
  transition: all 0.4s ease;
}

.item:hover .btns > i {
  font-size: 1.6rem;
  transform: scaleX(1);
  transition: all 0.4s ease;
}

.item .check {
  color: var(--light-theme-primary);
}

.item .delete {
  color: var(--red);
}

.item:nth-child(1) {
  margin-top: 30px;
}

.add-item {
  align-self: center;
  justify-self: center;
  width: 92%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 0;
  border: 0;
  border-radius: 1rem;
  background-color: var(--light-theme-primary);
}

.add-item-adding {
  display: none;
  transition: all 0.5s ease;
}

.add-item-adding.active {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.add-item-title {
  margin-left: 12px;
  color: var(--light-theme-text);
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.add-item-button {
  margin-right: 12px;
  font-size: 2.5rem;
  color: var(--light-theme-primary-light);
  cursor: pointer;
}

.add-item-typing {
  display: none;
  transition: all 0.5s ease;
}

.add-item-typing.active {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.add-item-input {
  border: 0;
  margin-left: 12px;
  outline: 0;
  width: 70%;
  height: 60%;
  background-color: transparent;
  color: var(--light-theme-text);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.add-item-input::placeholder {
  color: #ccc;
}

.add-item-check {
  margin-right: 12px;
  color: var(--light-theme-primary-light);
  font-size: 2.5rem;
  cursor: pointer;
}
